.subCategories {
  width: 96%;
  max-height: 75vh;
  color: var(--primary-text-color);
  overflow: auto;
}

.subCategoryRow {
  display: grid;
  grid-template-columns: 1.5fr 1.2fr 1fr .7fr .7fr 1fr 1fr;
  background-color: #fff;
  margin-bottom: 10px;
  font-size: var(--secondary-font-size);
  border-radius: var(--small-border-radius);

  &_header {
    position: sticky;
    top: 0;
    font-weight: 600;
    background-color: #FBF7F4;
    z-index: 2;

    & span {
      padding: .5rem;
    }
  }

  &__cell {
    min-width: 4rem;
    padding: .5rem;
    border-left: 1px solid #dcdcdc;

    &:first-child {
      border: none;
    }
  }
}

.contextMenu {
  font-size: var(--secondary-font-size);
  color: var(--primary-text-color);
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px var(--shadow-color);
  border-radius: var(--medium-border-radius);

  &__item {
    padding: .2rem .3rem;
    margin-top: 5px;
    border-radius: var(--small-border-radius);
    outline: none;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      cursor: pointer;
      background-color: #e5dad8;
    }
  }
}