.loader {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  &__text {
  }

  &__icon {
    animation: spin 3000ms infinite linear;
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}