.idea
node_modules
.yarn/cache

#backend
packages/backend/dist
packages/backend/node_modules
packages/backend/assets
packages/backend/.env
packages/backend/ormconfig.ts

#frontend
packages/frontend/node_modules
packages/frontend/.next
packages/frontend/build
packages/frontend/next-env.d.ts
packages/frontend/*.tsbuildinfo
packages/frontend/.env*.local
packages/frontend/.vercel
.env.development
.env.production