.ingredient {
  background-color: #fff;
  border-radius: var(--medium-border-radius);
  width: 20rem;
  padding: 2rem;
}

.ingredientTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label {
    font-size: var(--large-font-size);
    font-weight: 600;
  }

  &__button {
    padding: .5rem;
    background-color: var(--gray-color);
    border-radius: var(--small-border-radius);
    font-size: var(--small-font-size);

    &:hover {
      cursor: pointer;
      background-color: #e0e0e0;
    }
  }
}

.form {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formField {
  display: flex;
  align-items: center;
  gap: 10px;

  &__label {
    font-size: var(--secondary-font-size);
    font-weight: 600;
  }

  &__button {
    width: 8rem;
    height: 2rem;
    text-align: center;
    font-weight: 600;
    border-radius: var(--small-border-radius);
    background-color: #EFE5E3;

    &:hover {
      background-color: #e5dad8;
    }

    &:disabled {
      background-color: #f2f2f2;
      color: #bdbdbd;
    }
  }
}