@import '../../../styles/mixins';

.main {
	@include outside-container-style-without-shadow;

	height: calc(100% - 2rem);
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.title {
		margin-top: 1rem;
		font-size: 20px;
		font-weight: 600;
	}

	.menu {
		height: 80%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(15, 1fr);
		font-size: var(--secondary-font-size);

		.item {
			display: flex;
			align-items: center;
			gap: 1rem;
		}
	}

	.save {
		width: 8rem;
		height: 2rem;
		text-align: center;
		font-weight: 600;
		border-radius: var(--small-border-radius);
		background-color: #efe5e3;

		&:hover {
			cursor: pointer;
			background-color: #e5dad8;
		}

		&:disabled {
			background-color: #f2f2f2;
			color: #bdbdbd;
		}
	}
}
