@import '../../../styles/mixins';

.currentDate {
	@include outside-container-style;

	min-width: 65px;
	min-height: 34px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	color: var(--primary-text-color);
	padding: 0.37rem 0.8rem;

	&__time {
		width: 100%;
		font-size: var(--secondary-font-size);
		text-align: center;
	}

	&__date {
		font-size: var(--small-font-size);
	}
}
