
$desktop-large: 1920px;
$desktop-medium: 1600px;
$desktop-small: 1536px;

$laptop-large: 1440px;
$laptop-medium: 1366px;
$laptop-small: 1280px;

$tablet-large: 1024px;
$tablet-medium: 992px;
$tablet-small: 768px;

$phone-large: 576px;
$phone-medium: 414px;
$phone-small: 360px;

@mixin outside-container-style {
  background-color: #fff;
  border-radius: var(--medium-border-radius);
  box-shadow: 0 2px 10px var(--shadow-color);
}

@mixin outside-container-style-without-shadow {
  background-color: #fff;
  border-radius: var(--medium-border-radius);
}

@mixin hover-on-item-admin {
  cursor: pointer;
  background-color: #e5dad8;
}

@mixin desktop-large-max {
  @media only screen and (max-width: #{$desktop-large}) {
    @content;
  }
}

@mixin desktop-medium-max {
  @media only screen and (max-width: #{$desktop-medium}) {
    @content;
  }
}

@mixin desktop-small-max {
  @media only screen and (max-width: #{$desktop-small}) {
    @content;
  }
}

@mixin laptop-large-max {
  @media only screen and (max-width: #{$laptop-large}) {
    @content;
  }
}

@mixin laptop-medium-max {
  @media only screen and (max-width: #{$laptop-medium}) {
    @content;
  }
}

@mixin laptop-small-max {
  @media only screen and (max-width: #{$laptop-small}) {
    @content;
  }
}

@mixin tablet-large-max {
  @media only screen and (max-width: #{$tablet-large}) {
    @content;
  }
}

@mixin tablet-medium-max {
  @media only screen and (max-width: #{$tablet-medium}) {
    @content;
  }
}

@mixin tablet-small-max {
  @media only screen and (max-width: #{$tablet-small}) {
    @content;
  }
}

@mixin phone-large-max {
  @media only screen and (max-width: #{$phone-large}) {
    @content;
  }
}

@mixin phone-medium-max {
  @media only screen and (max-width: #{$phone-medium}) {
    @content;
  }
}

@mixin phone-small-max {
  @media only screen and (max-width: #{$phone-small}) {
    @content;
  }
}


@mixin desktop-large-min {
  @media only screen and (min-width: #{$desktop-large}) {
    @content;
  }
}

@mixin desktop-medium-min {
  @media only screen and (min-width: #{$desktop-medium}) {
    @content;
  }
}

@mixin desktop-small-min {
  @media only screen and (min-width: #{$desktop-small}) {
    @content;
  }
}

@mixin laptop-large-min {
  @media only screen and (min-width: #{$laptop-large}) {
    @content;
  }
}

@mixin laptop-medium-min {
  @media only screen and (min-width: #{$laptop-medium}) {
    @content;
  }
}

@mixin laptop-small-min {
  @media only screen and (min-width: #{$laptop-small}) {
    @content;
  }
}

@mixin tablet-large-min {
  @media only screen and (min-width: #{$tablet-large}) {
    @content;
  }
}

@mixin tablet-medium-min {
  @media only screen and (min-width: #{$tablet-medium}) {
    @content;
  }
}

@mixin tablet-small-min {
  @media only screen and (min-width: #{$tablet-small}) {
    @content;
  }
}

@mixin phone-large-min {
  @media only screen and (min-width: #{$phone-large}) {
    @content;
  }
}

@mixin phone-medium-min {
  @media only screen and (min-width: #{$phone-medium}) {
    @content;
  }
}

@mixin phone-small-min {
  @media only screen and (min-width: #{$phone-small}) {
    @content;
  }
}