.buttons {
	display: flex;
	align-items: center;
	gap: 5px;

	.button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;

		&_previous {
			transform: rotate(180deg);
		}

		&:hover {
			background-color: var(--gray-color);
		}
	}
}
