.accordion {
  display: flex;

  &-item {
    width: 100%;
  }

  &-header {
    width: 100%;
    display: flex;
  }

  &-trigger {
    padding: 0;
    font-size: var(--primary-font-size);
    font-weight: 600;
    flex: 1;
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  &-content {

  }
}

.AccordionChevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}