@import "app/styles/mixins";

.products {
  width: 96%;
  max-height: 75vh;
  color: var(--primary-text-color);
  overflow: auto;

  .controls {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    &__hidden {
      @include outside-container-style;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .filters {
      display: flex;
      gap: 1rem;
      align-items: center;

      &__label {
        font-size: var(--secondary-font-size);
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;

    @include laptop-large-max() {
      grid-template-columns: repeat(4, 1fr);
    }

    @include laptop-small-max() {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}