
.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  width: 20rem;
  gap: 5px;
  border-radius: var(--medium-border-radius);
}

.formField {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;

  &__label {
    font-size: var(--secondary-font-size);
    font-weight: 600;
  }

  &__button {
    width: 8rem;
    height: 2rem;
    text-align: center;
    font-weight: 600;
    border-radius: var(--small-border-radius);
    background-color: #EFE5E3;

    &:hover {
      background-color: #e5dad8;
    }
  }
}