.main {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.image {
		& img {
			object-position: center;
			object-fit: cover;
			width: 100%;
			height: 250px;
		}
	}

	.title {
		font-weight: bold;
	}

	.ingredients {
		.ingredient {
		}
	}

	.price {
	}
}
