.selectTrigger {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--small-border-radius);
  font-size: var(--small-font-size);
  padding: 0 1rem;
  height: 2.62rem;
  background-color: #fff;
  color: var(--primary-text-color);
  box-shadow: 0 2px 10px var(--gray-color);

  &[data-placeholder] {
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &:disabled {
    background-color: var(--gray-color);
    color: var(--disabled-color);
  }
}

.selectContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 10px var(--gray-color);

  &__scrollButton {
    border-radius: var(--small-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: white;
    cursor: default;
  }
}

.selectItem {
  border-radius: var(--small-border-radius);
  font-size: var(--small-font-size);
  display: flex;
  padding-left: 25px;
  align-items: center;
  height: 30px;
  position: relative;
  user-select: none;

  &[data-disabled] {
    color: var(--gray-color);
    pointer-events: none;
  }

  &[data-highlighted] {
    outline: none;
    background-color: #e5dad8;
    cursor: pointer;
  }

  &__indicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}