.categories {
  width: 96%;
  max-height: 75vh;
  color: var(--primary-text-color);
  overflow: auto;
}

.categoryRow {
  display: grid;
  grid-template-columns: 1.5fr 1.2fr 1fr .7fr .7fr 1fr 1fr;
  background-color: #fff;
  margin-bottom: 10px;
  font-size: var(--secondary-font-size);
  border-radius: var(--small-border-radius);

  &_header {
    position: sticky;
    top: 0;
    font-weight: 600;
    background-color: #FBF7F4;
    z-index: 2;

    & span {
      padding: .5rem;
    }
  }

  &__cell {
    min-width: 4rem;
    padding: .5rem;
    border-left: 1px solid #dcdcdc;

    &:first-child {
      border: none;
    }
  }
}